html {
    background-color: #FFF;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy/Gilroy-Light.otf") format("otf"),
         url("../fonts/gilroy/Gilroy-ExtraBold.otf") format("otf")
    ;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2,5rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: tomato;
}