.btn {
	display: inline-block;
	background-color: #fff;
	border: 2px solid rgb(153, 198, 213);
	color: #000;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 25px;
	cursor: pointer;
  }